# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
.docker/

# Project Specific
modules/data_collection/dataset/
modules/data_collection/dataset_cropped/
modules/models/*.h5
modules/models/*.keras
!modules/models/.gitkeep
*.log
.DS_Store

# IDEs
.vscode/
.idea/
