version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
      - ./modules:/app/modules
    environment:
      - MODEL_PATH=/app/modules/models/face_recognition_model.h5

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:8501"
    depends_on:
      - backend
